@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>








<section id="users" class="section-padding">
    <div class="container">
        <div class="row">
            <div style="background-color:red" >
                <div id="circle">
                    <div id="ProfileImage">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>